<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Jacob Simmering | jacobsimmering.com</title>
  <meta name="author" content="Jacob Simmering">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <title> Jacob Simmering | jacobsimmering.com </title>

  <!-- Google analytics
  ================================================== -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21761667-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container">
  </div>
</nav>

<div class="container">
  <div class="row">
    
    <div class="col-md-3 blog-sidebar">
      <div class="sidebar-module" align="middle">
        <img src = "http://jacobsimmering.com/img/jacob2.jpg">
      </div>
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
          <p>Python, R and dynamic graphics.
          Someone has to do it, might as well be me.</p>
        </div>
        <div class="sidebar-module">
          <div class="row">
            <div class="col-md-4">
              <a href = "http://jacobsimmering.com/index.html"><h3>Home</h3></a>
            </div>
            <div class="col-md-4">
              <a href = "http://jacobsimmering.com/about.html"><h3>About</h3></a>
            </div>
            <div class="col-md-4">
              <a href = "http://jacobsimmering.com/blog.html"><h3>Blog</h3></a>
            </div>
          </div>
        </div>
        <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <div class="col-lg-2">
              <a href = "http://www.twitter.com/iacobus42"><i class="fa fa-twitter fa-3x"></i></a>
            </div>
            <div class="col-lg-2">
              <a href = "http://www.github.com/iacobus42"><i class="fa fa-github fa-3x"></i></a>
            </div>
            <div class="col-lg-2">
              <a href = "http://www.linkedin.com/pub/jacob-simmering/64/b11/188/"><i class="fa fa-linkedin-square fa-3x"></i></a>
            </div>
            <div class="col-lg-2">
              <a href = "https://www.facebook.com/iacobus"><i class="fa fa-facebook-square fa-3x"></i></a>
            </div>
          </div>
      </div>

    <div class="col-md-9">
    {{ content }}
    </div>
  </div>
  <div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="col-md-12">
        <p class="text-muted"><br/>Static HTML generated by Jekyll | Styled with Bootstrap | Powered by Linode |
        Blog content syndicated on <a href="http://www.r-bloggers.com">R-Bloggers</a></p>
      </div>  
    </div>
  </footer>
  </div>
</body>
</html>
